@model NeatBookMVC.DTOs.BookDto

@using (Html.BeginForm("Form", "Book", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookGenre)
        @Html.DropDownListFor(model => model.BookGenre, new SelectList(Enum.GetValues(typeof(BookGenre))), "Select a genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BookGenre)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Language)
        @Html.DropDownListFor(model => model.Language, new SelectList(Enum.GetValues(typeof(Language)), Model.Language), "Select a language", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Language)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookStatus)
        @Html.DropDownListFor(model => model.BookStatus, new SelectList(Enum.GetValues(typeof(BookStatus))), "Select a status", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BookStatus)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AuthorRights)
        @Html.DropDownListFor(model => model.AuthorRights, new SelectList(Enum.GetValues(typeof(AuthorRights))), "Select author rights", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AuthorRights)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AgeRestriction)
        <label>
            @Html.RadioButtonFor(model => model.AgeRestriction, true) Yes
        </label>
        <label>
            @Html.RadioButtonFor(model => model.AgeRestriction, false) No
        </label>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Published)
        <label>
            @Html.RadioButtonFor(model => model.Published, true) Yes
        </label>
        <label>
            @Html.RadioButtonFor(model => model.Published, false) No
        </label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Book</button>
    </div>
}
