@model NeatBookMVC.Models.Users.UserDetailsViewModel

<h2>User Details</h2>

<h3>@Model.Name @Model.Surname (@Model.Nickname)</h3>
<p>Bio: @Model.BioText</p>
<p>Social Link: <a href="@Model.SocialLink">@Model.SocialLink</a></p>

<p>Followers: @Model.FollowersCount</p>
<p>Following: @Model.FollowingCount</p>

<h3>Books</h3>
<ul>
    @foreach (var book in Model.Books)
    {
        <li>
            <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">@book.Name</a>
        </li>
    }
</ul>

<h3>Articles</h3>
<ul>
    @foreach (var article in Model.Articles)
    {
        <li>
            <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">@article.Name</a>
        </li>
    }
</ul>