@model NeatBookMVC.Models.HomePageViewModel

<h1>Welcome to the Home Page</h1>

<div class="block">
    <h2>Books</h2>
    <ul>
        @foreach (var book in Model.Books)
        {
            <li>@book.Name</li>
        }
    </ul>
    @Html.ActionLink("See More Books", "Books", "Book")
</div>

<div class="block">
    <h2>Articles</h2>
    <ul>
        @foreach (var article in Model.Articles)
        {
            <li>@article.Name</li>
        }
    </ul>
    @Html.ActionLink("See More Articles", "Articles", "Article")
</div>

<div class="block">
    <h2>Users</h2>
    <ul>
        @foreach (var user in Model.Users)
        {
            <li>@user.Name</li>
        }
    </ul>
    @Html.ActionLink("See More Users", "Users", "User")
</div>
