@model NeatBookMVC.Models.CompositeViewModels.HomePageViewModel

<head>
    <link rel="stylesheet" type="text/css" href="~/css/home.css">
</head>

<div class="block">
    <h3>Books</h3>
    <ul>
        @foreach (var book in Model.Books.Take(10))
        {
            <li><a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">
                    <img src="@book.CoverImagePath" alt="Book Cover" class="miniature-image" style="width: 50px; height: 50px;">
                    @book.Name
                </a>
            </li>
        }
    </ul>
</div>

<div class="block">
    <h3>Articles</h3>
    <ul>
        @foreach (var article in Model.Articles.Take(10))
        {
            <li><a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">@article.Name</a></li>
        }
    </ul>
</div>

<div class="block">
    <h3>Users</h3>
    <ul>
        @foreach (var user in Model.Users.Take(10))
        {
            <li><a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">
                    <img src="@user.AvatarImagePath" alt="User Avatar" class="miniature-image" style="width: 100px; height: 50px;">
                    @user.Name
                </a>
            </li>
        }
    </ul>
</div>


