@model NeatBookMVC.Models.CompositeViewModels.SearchResultViewModel

<div class="block">
    <h3>Books</h3>
    <ul>
        @foreach (var book in Model.Books)
        {
            <li><a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">@book.Name</a></li>
        }
    </ul>
</div>

<div class="block">
    <h3>Articles</h3>
    <ul>
        @foreach (var article in Model.Articles)
        {
            <li><a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">@article.Name</a></li>
        }
    </ul>
</div>

<div class="block">
    <h3>Users</h3>
    <ul>
        @foreach (var user in Model.Users)
        {
            <li><a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">@user.Name</a></li>
        }
    </ul>
</div>